# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directory
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

dist
build

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Test files
*.cover
*.coverage
*.hypothesis/

# Coverage reports
*.coverage
*.coverage.*

# dotenv files
.env
.env.*

# pyenv
.python-version

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# pyinstaller
*.spec
